/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dosis:wght@200&family=Poiret+One&display=swap');

/* VARIABLES */
:root {
    color: black;
    --font-primary: 'Poiret One', cursive;
    --font-secondary: 'Dosis', sans-serif;
    --font-tertiary: 'Amatic SC', cursive;
}


/* RESETS */
*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HELPERS */
.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}


/* GLOBALS */
body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.info {
    background-color: black;
    margin: 0;
    padding: 18px;
    color: white;
    font-family: var(--font-primary);
    font-weight: lighter;
    font-size: 12.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar{
    min-height: 10vh;
    flex-wrap: wrap;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: auto; 
}

.search {
    width: 82%;
    height: 30px;
    background-color: white;
    text-align: left;
    font-size: 20px;
    font-family: var(--font-tertiary);
}

.products {
    font-family: var(--font-tertiary);
    font-weight: lighter;
    font-size: 24px;
}

.h2 {
    font-family: var(--font-primary);
}

footer {
    background-color: black;
    margin: 0;
    padding: 22px;
    color: white;
    font-weight: lighter;
    font-family: var(--font-tertiary);
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
}

#boton-carrito {
    border: none;
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 10px 20px;
    transition: all 0.3s;
}

#boton-carrito:hover {
    cursor: pointer;
    color: white;
    background-color: black
}

#boton-carrito:focus {
    outline: none;
}


/* MAIN */
.portada {
    text-align: center;
}

.slideshow-container {
    width: 1000px;
    height: 650px;
    position: relative;
    padding: 15px;
    justify-content: center;
    align-items: center;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.text {
    color: #f2f2f2;
    font-family: var(--font-tertiary);
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: black;
    font-family: var(--font-tertiary);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    font-family: var(--font-tertiary);
    font-size: 22px;
}

p {
    font-family: var(--font-secondary);
    font-weight: lighter;
    font-size: 18.5px;
}

.title-products {
    font-family: var(--font-primary);
    font-weight: lighter;
    font-size: 22px;
    padding-left: 50px;
}

.about-us {
    font-family: var(--font-secondary);
    font-size: 18.5px;
}


.card-title {
    font-family: var(--font-tertiary);
    font-weight: lighter;
    font-size: 25px;
}

.name1 {
    font-family: var(--font-tertiary);
    font-weight: lighter;
    font-size: 20px;
}

.card-text {
    font-family: var(--font-secondary);
    font-weight: lighter;
    font-size: 18.5px;
}

.text-primary {
    font-family: var(--font-primary);
    font-weight: lighter;
    font-size: 18px;
}

.btn{
    font-family: var(--font-secondary);
    font-weight: lighter;
    font-size: 16.5px;
}

.h4 {
    font-family: var(--font-secondary);
    font-weight: lighter;
    font-size: 22.5px;
}

h2 {
    font-family: var(--font-primary) ;
}













