/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dosis:wght@200&family=Poiret+One&display=swap');

/* VARIABLES */
:root {
    color: black;
    --font-primary: 'Poiret One', cursive;
    --font-secondary: 'Dosis', sans-serif;
    --font-tertiary: 'Amatic SC', cursive;
}

/* RESETS */
*,
*::after
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBALS */
header {
    font-family: var(--font-primary);
    font-size: 18px;
    align-content: space-between;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}



/* HEADER */
.promo {
    background-color: black;
    padding: 15px;
    color: white;
    font-family: var(--font-tertiary);
    font-weight: lighter;
    font-size: 22px;
}

.search {
    width: 20%;
    height: 30px;
    padding-left: 5px;
    background-color: #d7d7d7;
    text-align: left;
    font-size: 20px;
    font-family: var(--font-tertiary);
   
}

/* MAIN */
.name {
    font-family: var(--font-tertiary);
    font-size: 30px;
    font-weight: normal;
}

.name1 {
    font-family: var(--font-tertiary);
    font-size: 28px;
    font-weight: normal;
}

p {
    font-family: var(--font-secondary);
    font-size: 20px;
}

.info {
    font-family: var(--font-secondary);
    font-size: 18px;
}

h5 {
    font-family: var(--font-tertiary);
    font-size: 22px;
    font-weight: normal;
}

h2 {
    font-family: var(--font-primary);
}





/* FOOTER */
footer {
    background-color: black;
    color: white;
    font-family: var(--font-tertiary);
    font-size: 22px;
    padding: 6px;
    height: 8vh;
}